POSTGRES_DB=fiolin_one
POSTGRES_USER=fiolin
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

API_HTTP_PORT=5000
API_HTTPS_PORT=5001
ASPNETCORE_ENVIRONMENT=Development

JWT_ISSUER=FIOLIN.ONE
JWT_AUDIENCE=FIOLIN.ONE.Client
JWT_SECRET=change_this_secret_to_at_least_32_characters

VITE_API_BASE_URL=http://localhost:5000
